$orange: #FCBD4C;
$yellow: #FEC825;
$blueDark: #0A1034;
$blue: #131A4B;
$blueViolate: #6D6AE4;
$blueSky: #1ba6c9;
$blueLight: #BAB8FF;
$blueDeep: #282E61;
$greyDark: #EFF2F6;
$graySaturated: #EAEBF0;
$grayDeeper: #4f4f4f;
$greyOpacityDeeper: rgba(104, 104, 104, 0.3);
$greyOpacityDeep: rgba(209, 207, 219, 0.25);
$grey: #F6F5F5;
$greyLight: #FAFAFA;
$greyMute: #dfe6f0;
$green: #008000;
$white: #FFFFFF;
$red: #FF0000;
$blackLight: rgba(0, 0, 0, 0.25);
$violateDark: #3F3D56;
$violateOther: rgba(93, 98, 181, 0.4);
$violateBright: #5d62b5;
$purple: #bab8ff;
$brown: rgba(202, 153, 69, 0.25);
$black: rgba(0, 0, 0);
$dimGrey: rgba(155, 171, 210, 0.1);
$dimLightGrey: #acacac;
$violeteMedium: #503E9D;

// app color configs
$primary: $orange;
$primaryBrighter: $yellow;
$secondaryDark: $blueDark;
$secondary: $blue;
$secondaryLight: $blueLight;
$background: $grey;
$backgroundLight: $greyLight;
$backgroundDark: $greyDark;
$backgroundWhite: $white;
$backgroundBlue: $blueSky;
$backgroundGray: $graySaturated;
$backgroundAnimal: $purple;
$backgroundGray: $graySaturated;
$border: $blueDeep;
$borderLight: $greyMute;
$warning: $red;
$shadowDark: $blackLight;
$shadow: $greyOpacityDeeper;
$shadowLighter: $greyOpacityDeep;
$shadowText: $violateOther;
$shadowWood: $brown;
$text: $violateDark;
$button: $violateBright;
$btnBook: $blueViolate;
$labelBookedBackground: $grayDeeper;
$default: $black;
$boxShadow: $dimGrey;
$lightBoxShadow: $dimLightGrey;
$formText: $blue;
$formInputText: $blueSky;
$formValidColor: $green;
$formInvalidColor: $red;
$borderBottom: $violeteMedium;
